.table{
	display: flex;
    background-color:green;
    position: absolute;
    justify-content:center;
    align-items:center;
}
.ellipse{
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
}

.reserve{
	background-color:red;
}

.reserved{
	background-color:red;
}
